<!-- log4j2.xml example -->
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger – %msg%n"/>
		</Console>
	</Appenders>

	<Loggers>
		<!-- show the raw SQL -->
		<Logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
			<AppenderRef ref="Console"/>
		</Logger>
		<Root level="OFF">
			<AppenderRef ref="Console"/>
		</Root>
	</Loggers>
</Configuration>
